--extra-index-url https://download.pytorch.org/whl/cpu
torch
pysqlite3-binary
langchain==0.3.25
langchain-groq==0.3.2
langchain-community==0.3.24
langchain-huggingface==0.2.0
langchain-core==0.3.63
langchain-text-splitters==0.3.8
langgraph==0.4.1
chromadb==0.5.23
sentence-transformers==4.1.0
transformers==4.44.2
tokenizers==0.19.1
streamlit==1.45.1
python-dotenv==1.1.0
pypdf==5.6.0
langsmith==0.3.42
